<div class="park-info-container">
<mat-card class="example-card" *ngIf="selectedPark">

    <mat-card-content>
        <img  [src]="getImage()" alt="">


    </mat-card-content>
    <mat-card-header>

        <mat-card-title>{{selectedPark.attributes.NAME}}</mat-card-title>
        <mat-card-subtitle>{{selectedPark.attributes.ADDRESS}}</mat-card-subtitle>
        <mat-card-subtitle>{{selectedPark.attributes.PHONE}}</mat-card-subtitle>
  


    </mat-card-header>    
    <mat-card-actions>
      <mat-grid-list class="activities" *ngIf="activities.length" cols="6" rowHeight="3:2">
        <mat-grid-tile *ngFor="let activity of activities">

              <mat-icon *ngIf="activity.source === 'material'" [matTooltip]="activity.alias" aria-label="icon">{{activity.symbol}}</mat-icon>
              <mat-icon *ngIf="activity.source === 'nps'" [matTooltip]="activity.alias" aria-label="icon" [svgIcon]="activity.name"></mat-icon>

          </mat-grid-tile>
      </mat-grid-list>      
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
      <button mat-button color="primary" (click)="getDirections()">DIRECTIONS</button>
    </mat-card-actions>
  </mat-card>
  <div #overview id="overview"></div>
</div>


<div [ngClass]="{'show': showDirections}" #directions id="directions"></div>