<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$  | async ) === false">
    <mat-toolbar><img src="https://raleighnc.gov/themes/custom/cityofraleigh/logo.svg"></mat-toolbar>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Parks"> <app-park-list *ngIf="view && parkLayer" [view]="view" [parkLayer]="parkLayer" [where]="where" [location]="location" (parkSelected)="parkSelected($event, drawer)" (chipClicked)="chipClicked($event)"></app-park-list> </mat-tab>
      <mat-tab label="Filter">     <app-amenity-filter *ngIf="view && parkLayer" [toggleField]="toggleField" [view]="view" [parkLayer]="parkLayer" (parksFiltered)="parksFiltered($event)"></app-amenity-filter>
      </mat-tab>
    </mat-tab-group>    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Park Locator</span>
    </mat-toolbar>
    <!-- <div class="content"> -->


      <app-map [ngClass]="{'selected' : selectedPark, 'full': parkInfoFull}" (viewLoaded)="viewLoaded($event)" (parkLayerLoaded)="parkLayerLoaded($event)" (locationSet)="locationSet($event)"></app-map>
      
      <div class="park-info-tabs" [ngClass]="{'selected' : selectedPark, 'full': parkInfoFull}">
        <div *ngIf="selectedPark" class="close-icon">
          <button *ngIf="!parkInfoFull" (click)="parkInfoFull = !parkInfoFull" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>expand_less</mat-icon>
          </button>       
          
          <button  *ngIf="parkInfoFull" (click)="parkInfoFull = !parkInfoFull"  mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>expand_more</mat-icon>
          </button>             
          <button  (click)="clearPark()"  mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>close</mat-icon>
          </button>  
        </div>
          
        <mat-tab-group >
          <mat-tab label="Info">
            
            <app-park-info *ngIf="selectedPark && view"  [selectedPark]="selectedPark" [view]="view"></app-park-info>
  
          </mat-tab>
          <mat-tab *ngIf="classes.length" label="Classes">
            <app-classes [classes]="classes"></app-classes>
          </mat-tab>
  
        </mat-tab-group> 
    
      </div>
     
      
    <!-- </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>
