<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-tab-group>
      <mat-tab label="Parks"> <app-park-list *ngIf="view && parkLayer" [view]="view" [parkLayer]="parkLayer" [where]="where" (parkSelected)="parkSelected($event)" (chipClicked)="chipClicked($event)"></app-park-list> </mat-tab>
      <mat-tab label="Filter">     <app-amenity-filter *ngIf="view && parkLayer" [toggleField]="toggleField" [view]="view" [parkLayer]="parkLayer" (parksFiltered)="parksFiltered($event)"></app-amenity-filter>
      </mat-tab>
    </mat-tab-group>    
    <!---->
   
    <!-- <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>park-locator</span>
    </mat-toolbar>
    <app-map [ngClass]="selectedPark ? 'selected' : ''" (viewLoaded)="viewLoaded($event)" (parkLayerLoaded)="parkLayerLoaded($event)"></app-map>
    <app-park-info *ngIf="selectedPark && view" [ngClass]="selectedPark ? 'selected' : ''" [selectedPark]="selectedPark" [view]="view"></app-park-info>
  </mat-sidenav-content>
</mat-sidenav-container>
