
        <button *ngIf="classList.length" mat-button color="primary" (click)="classList = []"><mat-icon>arrow_back_ios</mat-icon>Categories</button>

        <mat-grid-list *ngIf="!classList.length" [cols]="columns" rowHeight="50px">
            <mat-grid-tile *ngFor="let section of sections" (click)="sectionSelected(section)">
              <mat-card class="class-card">  
                <mat-card-content>
                  <p>{{section}}</p>
                </mat-card-content>
    
              </mat-card>
              </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list *ngIf="classList.length" [cols]="columns" rowHeight="220px">
            <mat-grid-tile *ngFor="let cl of classList">
                

                <mat-card class="class-card">  
                    <mat-card-content>
                        <p>{{cl.attributes.COURSE}}</p>
                        <p>{{cl.attributes.ACTIVITY}}</p>
                        <p>{{cl.attributes.START_DATE | date : 'MMM d, y, h:mm a' }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a color="primary" mat-button href="https://reclink.raleighnc.gov/Activities/ActivitiesCourseDetails.asp?aid={{cl.attributes.ACTIVITY_ID}}+&cid={{cl.attributes.COURSE_ID}}" target="_blank">REGISTER</a>
                      </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>
          </mat-grid-list>          
